import {{ name }} from './{{ name }}.vue';

export default {
    title: '{{ name }}',
    component: {{ name }},
};

export const Default = () => ({
    components: { {{ name }} },
    //language=HTML
    template: `
        <div>
            <{{ name }} />
        </div>
    `,
});
